
.login-page{
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("../../assets/login-bg.png") no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-page-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.login-page-main{
  width: 1308px;
  height: 639px;
  background: url("../../assets/login-main.png") no-repeat;
  background-size: contain;
  padding: 28px;
  display: flex;
  align-items: center;
  justify-content: flex-end;;
}
.login-page-form{
  width: 626px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-page-form-captcha{
  button{
    padding: 0;
    border: 0;
    &:focus-visible{
      outline: none !important;
    }
  }
}
