
.home{
  width: 100px;
  height: 300px;
  overflow: hidden;
  // border: 1px dashed #ddd;
  overflow-y: auto;
  ul{
    li{
      width: 100px;
      height: 100px;
      background: #3f77fe;
      border-bottom: 1px dashed #ddd;
    }
  }
}
